@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
/* font-family: 'Inspiration', cursive; */
/* font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}

/* header version 320 */
header {
    background-color: rgba(245, 245, 220, 0.473);
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    }
.boton__menu {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2.5rem;
        border: none;
        color:rgb(22, 20, 92);    
    }
    
.menu {
    display: none;
 }
    
/* media querie */
/* inicio header */
@media only screen and (min-width: 890px) {
    .boton__menu{
        display: none;
    }
    .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5em;
    }
    li{
    padding: 5px;
    margin: 5px;
    list-style: none;
    }
    a{
    text-decoration: none;
    border-radius: 40%;
    }
    header nav ul li a:hover {
    background-color: rgb(240, 142, 142);
    color: rgba(77, 39, 39, 0.849);
    padding: 5px;
    }
}
/* fin de header */

/* main del inicio */


.contenedor-foto-de-perfil {
    display: flex;
    flex-direction: column;
    background-image: url("../medios/fotofondo.jpeg");
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: contrast(110%) brightness(50%);
    padding: 5px;
    margin: 0px 5px;
}
.contenedor-foto-de-perfil .contenedor-presentacion{
    display: block;
    justify-content: flex-end;
    text-align: right;
    margin-top: 200px;
}
.contenedor-foto-de-perfil .contenedor-presentacion .contenedor-titulo-1{
    color: blue;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    margin:5px;
    font-size: 2em;
    
}
.contenedor-foto-de-perfil .contenedor-presentacion .contenedor-titulo-2 {
    color: blue;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    margin:5px;
    font-size: 2em
}



/* inicio acerca-de-mi.html */
@keyframes left-in {
    0% {
        left:-100%;
        
    }
    100% {
        left:0%;
        
    }
    
}

main .contenedor-acerca-de-mi {
    display: block;
    margin: 5px;
    padding: 3px;
   
}
main .contenedor-acerca-de-mi h2{
    display: block;
    justify-content: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    animation-name: left-in;
    animation-duration: 1s;
}
main .contenedor-acerca-de-mi .contenedor-presentacion {
    display: block;
    width: 100%;
    padding: 5%;
  
}

main .contenedor-acerca-de-mi .contenedor-presentacion .presentacion-1 {
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    width: 70%;  

}

main .contenedor-acerca-de-mi .contenedor-presentacion .linea-divisoria {
    justify-content: center;
    padding: 5px;
    background: linear-gradient(to right, red, black, red);
    height: 3px;
    width: 90%;
    padding: 0;
    margin: 20px;

}
main .contenedor-acerca-de-mi .contenedor-presentacion .presentacion-2 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 300px;
   
}
main .contenedor-acerca-de-mi .contenedor-presentacion .linea-divisoria-2 {
    justify-content: center;
    padding: 5px;
    background: linear-gradient(to right, red, black, red);
    height: 3px;
    width: 90%;
    padding: 0;
    margin: 20px;
}
main .contenedor-acerca-de-mi .contenedor-presentacion .presentacion-3 {
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    width: 70%;  
}

/* fin de acerda-de-mi */


/* miPorfolio.html */
.contenedor-porfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(224, 216, 216, 0.904);
    margin: 5px;
    padding: 5px;
    box-shadow: 5px black;
}

.contenedor-porfolio .contenedor-foto-portada {
    height: 30vw;
    border-radius:15px;
}
.educacion {
    padding: 10px;
}
.experiencias {
    padding: 10px;
}
.conocimientos {
    padding: 10px;
}

.porfolio section ul li {
    list-style: none;
}



/* media queries */


@media only screen and (min-width: 620px) {
    .porfolio {
        display: flex;
        flex-direction: row;
       
    }
    
}

/* fin de miPorfolio */

/* contacto */
.contacto {
    min-height: 80vh;
    border: 1px solid black;
    /* background-color: rgba(230, 218, 218, 0.966); */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: grid;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle at 100%, rgb(190, 190, 224), transparent);

}

.contacto .contacto__form {
    display: grid;
    justify-content: center;
    text-align: center;
}
.contacto .contacto__form legend {
    text-align: center;
    margin-bottom: 2px;
}
.contacto .contacto__form input {
    height: 2rem;
    padding: 2px;
    text-align: center;
    margin-bottom: 1rem;
    outline: none;
}
.contacto .contacto__form .contacto__botones{
    justify-content: center;
    text-align: center;
    gap: 2px;
    margin-top: 1rem;
    padding: 2px;
}
.contacto p {        
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    /* fin de contacto */
}


/* inicio entretenimiento */

.entretenimiento{
    height: 25rem;
    justify-content:center;
    text-align:center;
    background: radial-gradient(rgb(163, 82, 82), rgb(228, 209, 209));
}

/* footer */
footer {
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.footer {
    list-style: none;
}
@media only screen and (min-width: 890px) {

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer li i{
    gap: 2px;
    } 
}
/* fin del footer */