/* estilos del header */

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;

header {
    background-color: rgba(245, 245, 220, 0.473);
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    .menu.menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5em;
        li{
            padding: 5px;
            margin: 5px;
            list-style: none;
            a{
                text-decoration: none;
                border-radius: 40%;
                }
                &:hover{
                    background-color: rgb(240, 142, 142);
                    color: rgba(77, 39, 39, 0.849);
                    padding: 5px;
                    }

            }
        }
}
/* fin del header */

/* inicio main */        
.paginaprincipal{
    background-image: url("../medios/fotofondo.jpeg");
    height: 70vh vw;    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: contrast(110%) brightness(90%);
    padding: 5px;
    margin: 0px 5px;
    .titulopaginaprincipal{
        position: relative;
        color:blue;
        font-family: 'Ubuntu', sans-serif;
        text-align: left;
        padding: 5px;
        margin:5px;
        width: 50px;
        font-size: 2em;
        animation-name: left-in;
        animation-duration: 1s;
        
    }
    section {
        .parpagprincipal {
            color:blue;
            font-size: 1em;
        }
    }

}
/* fin del main */

/* inicio footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li{
        i{
            gap: 2px;
            } 
    }
}
}