/* comienza index */
.contenedor-foto-de-perfil {
    display: flex;
    flex-direction: column;
    background-image: url("../medios/fotofondo.jpeg");
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: contrast(110%) brightness(50%);
    padding: 5px;
    margin: 0px 5px;
    .contenedor-presentacion{
        display: block;
        justify-content: flex-end;
        text-align: right;
        margin-top: 200px;
        .contenedor-titulo-1{
            color: blue;
            font-family: $tipoDeFuente;
            padding: 5px;
            margin:5px;
            font-size: 2em;
        }
        .contenedor-titulo-2 {
            color: blue;
            font-family: 'Ubuntu', sans-serif;
            padding: 5px;
            margin:5px;
            font-size: 2em
        }
    }
}
/* fin del index */

/* inicio de acerca-de-mi */

main .contenedor-acerca-de-mi {
    display: block;
    margin: 5px;
    padding: 3px;
    h2{
        display: block;
        justify-content: center;
        text-align: center;
        font-family: $tipoDeFuente;
    }
    .contenedor-presentacion {
        display: block;
        width: 100%;
        padding: 5%;
        .presentacion-1 {
            display: flex;
            justify-content: center;
            text-align: left;
            font-family: $tipoDeFuente;
            width: 70%;          
        }
        .linea-divisoria {
            justify-content: center;
            padding: 5px;
            background: linear-gradient(to right, red, black, red);
            height: 3px;
            width: 90%;
            padding: 0;
            margin: 20px;        
        }
        .presentacion-2 {
            display: flex;
            justify-content: flex-end;
            text-align: right;
            font-family: $tipoDeFuente;
            margin-left: 300px;           
        }
        .linea-divisoria-2 {
            justify-content: center;
            padding: 5px;
            background: linear-gradient(to right, red, black, red);
            height: 3px;
            width: 90%;
            padding: 0;
            margin: 20px;
        }
        .presentacion-3 {
            display: flex;
            justify-content: center;
            text-align: left;
            font-family: $tipoDeFuente;
            width: 70%;  
        }      
    }
   
}
/* fin acerca de mi */

/* inicio de mi-portafolio */

.contenedor-porfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(224, 216, 216, 0.904);
    margin: 5px;
    padding: 5px;
    box-shadow: 5px black;
    .contenedor-foto-portada {
        height: 30vw;
        border-radius:15px;
        list-style: none;
    }
    .contenedor-educacion {
        padding: 10px;
        list-style: none;
    }
    .contenedor-experiencias {
        padding: 10px;
        list-style: none;
    }
    .contenedor-conocimientos {
        padding: 10px;
        list-style: none;
    }
}
/* fin de mi-portafolio */

/* inicio de contacto */
.contacto {
    min-height: 80vh;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: grid;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle at 100%, rgb(190, 190, 224), transparent);
    .contacto-titulo{
        font-family: $tipoDeFuente;
    }
    p {        
        font-family: $tipoDeFuente;
        color: black;
        font-size: 2rem;
        justify-content: center;
        text-align: center;
    }
    .contacto__form {
        display: grid;
        justify-content: center;
        text-align: center;
        legend {
            text-align: center;
            margin-bottom: 2px;
        }
        input {
            height: 2rem;
            padding: 2px;
            text-align: center;
            margin-bottom: 1rem;
            outline: none;
        }
        .contacto__botones{
            justify-content: center;
            text-align: center;
            gap: 2px;
            margin-top: 1rem;
            padding: 2px;
        }
    }

}
/* fin de contacto */


/* inicio de habilidades */

.contenedor-habilidades{
    padding: 2rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    .contenedor-titulo-habilidades {
        font-family: $tipoDeFuente;
        margin-bottom: 3px;
    }
    @for $i from 1 through 6 {
        .imag-#{$i} {
            grid-area: img #{$i};
        }
    }
    .contenedor-habilidades .contenedor-habilidades-grid {
        display: grid;
        grid-template-areas: 
        "imag-1 imag-2 imag-3"
        "imag-4 imag-5 imag-6"
        ;
        img {
            padding: 2px;
    
        }
    }
}
/* fin de habilidades */